div.gallery {
    margin: 0.5vw;
    border: 0.1vw solid #ccc;
    float: left;
    width: 48%;
}

div.gallery:hover {
    border: 0.1vw solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 10%;
    text-align: center;
}




/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {



    div.gallery {
        width: 100%;
        float: left;
        border: 0.1vw solid #ccc;
        margin: 0.5vw;
        font-size:150%;

    }

    img {
        width: 100%;


    }

    div.desc {
        width: 100%;
        float: left;
        border: 0.1vw solid #ccc;
        margin: 0.5vw;
        padding: 10%;
        text-align: center;
        text-size-adjust: 100%;
    }
}